.about {
  padding: 40px;
  h2 {
    color: $primary-color;
  }
}
.hero-section {
  background: url(/assets/images/backgroundp2.png) no-repeat center center;
  background-size: cover;
  .hero-section-items {
    min-height: 100vh;
    display: grid;
    grid:
      "logo  . ." auto
      "box box ." 0.8fr
      "text text text" 1fr/50% 1fr 1fr;
  }
  .logo {
    grid-area: logo;
    place-items: center;
    place-content: center;

    img {
      margin: 2rem 0 2rem 0;
      width: calc(60% - 1rem);
      height: auto;
    }
  }
  .text-box {
    margin-left: 2rem;
    grid-area: box;
    background: $hero-item-color;
    border-radius: 50px;
    width: calc(100% - 20% / 2);
    height: calc(100% - 100% / 2);
    place-items: center;
    place-content: center;
    h1 {
      font-size: 4vw;
      color: $secondary-color;
      text-wrap: nowrap;
    }
  }
  .description {
    grid-area: text;
  }
}
