.hero-section {
  background: url(/assets/images/backgroundp2.png) no-repeat center center;
  height: 100vh;
  background-size: cover;
  display: flex;
}

.hero-section-items {
  margin: auto 2rem;
  width: 100%;
  display: grid;
  grid: auto 1fr / auto;
  place-self: center;
  gap: 2vw;
  .title-box {
    background: $hero-item-color;
    height: 8vw;
    width: 60%;
    border-radius: 2vw;
    display: flex;
    
    h1 {
      color: $secondary-color;
      margin: auto;
      font-size: 3vw;
      text-shadow: 10px 20px 12px rgba(0, 0, 0, 0.38);
      filter: drop-shadow(0 0 10px $primary-color);
     
    }
  }
  .text-box {
    
    width: 80%;
    place-self: center;
    p {
      font-size: 1vw;
      letter-spacing: 0.2rem;
      text-align: justify;
    }
  }
}
