// Couleurs
$primary-color: #0e76d6;
$secondary-color: #ffffff;
$link-hover-color: #51a5f4;
$hero-item-color: #0056b3;
$background-color: #000000;

// Polices
$font-main: "Poppins", sans-serif;
$font-heading: "Orbitron", sans-serif;

// Animations
$animation-duration: 0.3s;
$animation-ease: ease-in-out;

// Breakpoints pour responsive
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1199px;
$breakpoint-large-desktop: 1200px;
